---
import Navigation from '../components/Navigation.astro'
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="flex h-full flex-col justify-start bg-gradient-to-t from-gray-900 to-gray-700 bg-auto bg-center bg-no-repeat">

        <h1 class="w-full truncate text-clip border-b border-b-black bg-pink-600 bg-gradient-to-r from-blue-400 bg-clip-text p-4 font-sans text-3xl font-extrabold text-transparent to">Blood Pressure Diary</h1>

        <div class="flex h-full">
            <Navigation />

            <div class="w-full bg-gray-700">
               <slot />
            </div>
        </div>
    </body>
</html>
